<link rel='stylesheet' type='text/css' href='$contextPath/styles/main-action.css?pluginCompleteKey=confluence.extra.calendar:calendar&stylesheetName=calendar.css&spaceKey=$spaceKey'/>

<style type="text/css">
    div.event-date {
        margin-bottom: 10px;
    }

    div.event-date div.date {
        font-size: 14px;
        padding-bottom: 2px;
        margin-bottom: 3px;
        border-bottom: 1px solid #CCC;
    }

    div.event-date table.event-list tr.event td.start-time {
        font-weight: bold;
        width: 80px;
    }
</style>

#set ($day = $calendarDisplay.day)
#set($eventDates = $calendarDisplay.listEvents)
#foreach ($eventDate in $eventDates.keySet())
<div class="event-date">
<div class="date">$calendarDisplay.formatDate($eventDate)</div>
<table class="event-list">
    #foreach ($event in $eventDates.get($eventDate))
    <tr class="event" valign=top>
        <td class="start-time" valgn=top>
            #if ($event.allDay)
                $action.getText('calendar.duration.allDay')
            #else
                $calendarDisplay.formatStartTime($event, $day.date)
            #end
        </td>
        <td class="info" valign=top>
          <div class="event-summary">$generalUtil.htmlEncode($!event.summary)</div>
          <div class="location">$generalUtil.htmlEncode($!event.location)</div>
          <div class="description">$generalUtil.htmlEncode($!event.description)</div>
        </td>
        <td valign=top>
          #if ($!event.url) 
            <div class="url">
              <a href="$!event.url">$!event.url</a>
            </div>
          #end
        </td>
    </tr>
    #end
</table>
</div>
#end