#macro (makeNumberSelect $name $from $to $selected $pad)
    <select name="$name">
    #foreach ($i in [$from..$to])
        <option value="$i" #if ($i == $selected) selected="selected" #end>#if($pad && $i < 10)0#end$i</option>
    #end
    </select>
#end

#macro (makeMonthSelect $name $selected)
    ## TODO: Figure out how to i18n the date names.
    #set ($months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"])
    <select name="$name">
    #foreach ($i in [1..12])
        #set ( $j = $i - 1 )
        <option value="$i" #if ($i == $selected) selected="selected" #end>${months.get( $j )}</option>
    #end
    </select>
#end

#macro (makeNumberOrNullSelect $name $from $to $selected $pad)
    <select name="$name">
    #foreach ($i in [$from..$to])
        <option value="$i" #if ($i == $selected) selected="selected" #end>#if ($i>0) #if($pad && $i < 10)0#end$i #end</option>
    #end
    </select>
#end

#macro (makeMonthOrNullSelect $name $selected)
    ## TODO: Figure out how to i18n the date names.
    #set ($months = [" ", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"])
    <select name="$name">
    #foreach ($i in [0..12])
        <option value="$i" #if ($i == $selected) selected="selected" #end>${months.get( $i )}</option>
    #end
    </select>
#end